.searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
a:hover{
    text-decoration: underline;
}
a { 
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.70);
    text-decoration: none;
}
nav {
    height: 60px;
    Font-size: 14px;
    Font-family: Roboto,Arial,sans-serif;
    display:flex;
    align-items: center;
justify-content: space-between;
height: 3em
}

#profile-pic {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
#buttons button:hover{
    border: solid;
    border-width: 1px;
    border-color: #9b9b9b70;

}
#buttons button {
    background-color: #f8f9fa;
height: 36px;
Padding-left: 20px;
padding-right: 20px;
margin: 0px 15px 0px 15px;
border-width: 1px;
border-color: transparent;
border-radius: 4px;
}

#buttons{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 25px 0px 25px 0px;
    height:100px;
}
.searchbar {   
    text-align: center;
    padding: 1px 10px 1px 10px;
    width: 580px;
    height:44px;
    border-style: solid;
    border-radius: 24px;
    border-color:rgba(0,0,0,.10);
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    display: flex;
    flex-direction: row;
    Justify-content: space-around;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 15px;
    width: 120px;
 

}
#nav-right {
    display: flex;
    flex-direction: row;
    Justify-content: space-around;
    padding: 5px 0px 5px 5px;
    margin-left: 5px;
    margin-right: 0px;
    width: 180px;
 

}

#mic {
    width: 25px;
    height: 25px;
}
body {
    font-size: 14px;
    font-family: Arial, sans-serif
}

.microphone-icon {
    background-color: white;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    padding-right: 25px;
}
.textinput {
    width: 480px;
    height: 100%;
    border: none;
    outline: none;
}
.main {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    height: 800px;
    text-align: center;
}
footer {
    border-top: #0000001a;
    border-top-width: 1px;
    border-top-style: solid;
    flex-direction: row;
    Display: flex;
    align-items: center;
    justify-content: space-around;
    Position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;

}
#footer-right {
    flex-direction: row;
    justify-content:space-evenly;
    width: 200px;
    display: flex;
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
}
#footer-left {
    flex-direction: row;
    justify-content: space-evenly;
    width: 350px;
    display: flex;
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
}
#lgbt {
    height: 322px;
    Width: 400px;
}
#logo {
    width: 272px;
    height: 92px;
    margin-bottom: 26px;
}